<%  if(currentUser){ %>
    <div class="ui inline dropdown mt-3 mr-2 ml-auto ">
      <div class="text">
        <img class="ui avatar image mr-0" src="/img/male1.jfif">
        Admin
      </div>
      <i class="left dropdown icon"></i>
      <div class="menu ml-5 mt-2">

        <div class="item">
          <a href="/logout">LogOut</a>
        </div>
      </div>
   </div>
<% } %>
