<%- include('partials/header') %>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/"><h3><i class="home icon"></i> Motorcycle Grounds</h3></a>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="  motorcycle icon"></i>Classification</a>
                <ul class="collapse list-unstyled show" id="homeSubmenu">
                    <li class="active">
                        <a href="javascript:;"><i class="open folder icon"></i>Scooter</a>
                    </li>
                    <li>
                        <a href="/underbones"><i class="folder icon"></i>Underbones</a>
                    </li>
                    <li>
                        <a href="/standard"><i class="folder icon"></i>Standard</a>
                    </li>
                    <li>
                        <a href="/sports"><i class="folder icon"></i>Sports</a>
                    </li>
                </ul>
            </li>
            <li>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="cogs icon"></i>Maintenance</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#modSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="wrench icon"></i>Modification</a>
                <ul class="collapse list-unstyled" id="modSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
<%- include('partials/modal') %>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <div class="ui fluid category search mb-3 ">
      <div class="ui icon input r-shadow">
        <input class="prompt" type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light b-shadow">
          <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-yellow">
                  <i class="fas fa-align-left"></i>
                  <span></span>
              </button>


                      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <i class="fas fa-align-justify"></i>
                      </button>


                      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
                          <ul class="nav navbar-nav ml-auto">
                            <div class="ui breadcrumb mb-1 mr-1">
                              <li class="nav-item">
                                  <a class="nav-link section" href="/">Classification</a>
                                  <i class="right angle icon divider"></i>
                              </li>
                              </div>
                                <div class="ui breadcrumb mb-1 mr-1">
                              <li class="nav-item active ">
                                  <div class="nav-link active section" href="#">Scooter</div>
                                  <i class="right angle icon divider"></i>
                              </li>
                                </div>
                          </ul>
                      </div>
              </div>
      </nav>

      <h2>Scooter Information</h2>

      <div class="col-lg-12 m-0 p-0">
        <div class="row">
          <div class="col-5">


              <div class="col-xl-10 col-lg-11 col-md-10 col-sm-12 wrap">
                <div class="row">

                  <!-- <div class="m-0 p-0 mt-2 mr-auto">
                    <div class="ui labeled button t-shadow re-size" tabindex="0">
                      <div class="ui yellow button t-shadow" style="color:black;">
                        <i class="cog icon"></i><br>Basic Parts
                      </div>
                      <a class="ui basic yellow left pointing label">
                        0
                      </a>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-12 mr-auto p-0 mt-2">
                    <div class="trig1 ui labeled button t-shadow re-size active" tabindex="0">
                      <div class=" ui yellow button t-shadow" style="color:black;">
                        <i class="book icon"></i>Glossary
                      </div>
                      <a class="ui basic yellow left pointing label">
                         9
                      </a>
                    </div>
                  </div> -->

                </div>
              </div>

            <div class="col-lg-11 pl-0 pt-3">
              <div class="row">

                <button class="headers trig1 marg b-parts">
                      <i class="cog icon"></i>Basic Parts
                </button>

              <button class="headers trig1 active gloss">
                  <i class="book icon"></i>Glossary
              </button>

            </div>


              <span class="diagram">
                <canvas></canvas>
              </span>

            </div>




          </div>


          <div class="col-xl-7 col-lg-8 mr-auto wrap pr-5 pl-0 ml-0">
            <div class="container" id="parts-container">

            <div class="col-lg-12 col-md-6" id="part1">
              <div class="row">
                <div class="col-lg-4 pb-2 pl-0 pt-2 box1">
                  <div class="ui piled segment b-shadow">
                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box2">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box3">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 pb-2 pl-0 pt-2 box4">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box5">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box6">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 pb-2 pl-0 pt-2 box7">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box8">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
                <div class="col-lg-4 pb-2 pl-0 pt-2 box9">
                  <div class="ui piled segment b-shadow">

                    <p><br><br></p>
                  </div>
                </div>
              </div>
            </div>

<!--  -->
<div class="col-lg-12 col-md-6" id="part2">
  <div class="row">
    <div class="col-lg-6 pb-2 pl-0 pt-2 boxs1">
      <div class="b-hide ui piled segment b-shadow">
        <p><br><br></p>
      </div>
    </div>
    <div class="col-lg-6 pb-2 pl-0 pt-2 boxs2">
      <div class="b-hide ui piled segment b-shadow">

        <p><br><br></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 pb-2 pl-0 pt-2 boxs1">
      <div class="b-hide ui piled segment b-shadow">
        <p><br><br></p>
      </div>
    </div>
    <div class="col-lg-6 pb-2 pl-0 pt-2 boxs2">
      <div class="b-hide ui piled segment b-shadow">

        <p><br><br></p>
      </div>
    </div>
  </div>
  </div>
<!--  -->
        </div>
          </div>

<!--  -->

<!-- <div class="col-xl-7 col-lg-8 mr-auto wrap">
  <div class="container">

  <div class="col-lg-12 col-md-6">
    <div class="row">
      <div class="col-lg-6 pb-2 pl-0 pt-2 boxs1">
        <div class="b-hide ui piled segment b-shadow">
          <p><br><br></p>
        </div>
      </div>
      <div class="col-lg-6 pb-2 pl-0 pt-2 boxs2">
        <div class="b-hide ui piled segment b-shadow">

          <p><br><br></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 pb-2 pl-0 pt-2 boxs1">
        <div class="b-hide ui piled segment b-shadow">
          <p><br><br></p>
        </div>
      </div>
      <div class="col-lg-6 pb-2 pl-0 pt-2 boxs2">
        <div class="b-hide ui piled segment b-shadow">

          <p><br><br></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div> -->

        </div>
      </div>



  </div>






    <!-- threejs -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js" charset="utf-8"></script>
    <script src="/threejs-loader/OBJLoader.js" charset="utf-8"></script>
    <script src="/threejs-loader/MTLLoader.js" charset="utf-8"></script>
    <script src="/js/OrbitControls.js" charset="utf-8"></script>
    <script src="/js/scooter.js" charset="utf-8"></script>
<%- include('partials/footer') %>
