<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/signup" method="POST" class="ui form">
      <div class="field">
        <label><i class="user icon"></i> Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label><i class="key icon"></i> Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <button class="ui button btn-block" name="signup" type="submit"><i class="signup icon"></i> SIGN-UP</button>
    </form>
  </body>
</html>
