html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #eee;

}

.diagram {
  width: 400px; height: 300px;
  margin: 0px;
  outline:none !important;
  margin-bottom: 30px;
  padding-left: 0;
  z-index: 1;
  display: block;
  float: left;
  position:  relative;
}

canvas {
   width: 100%; height: 100%;
   outline:none !important;
   box-shadow: 9px 15px 9px -3px rgba(0,0,0,0.32) !important;
  border-radius: .5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border:  none;
  display: block;
  z-index: 1;
  float: left;
  position:  relative;

}

.inside-canvas {
  max-width: 300px;
  max-height: 390px;
  position:relative;
  padding: 200px;
  background: black;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
    text-align: center;
}

.icard {
  width: 100%;
}



.card {
  padding-bottom: 30%;
  height: 100%;
}

.ui.inverted.button {
    box-shadow: 0 0 0 2px #FEBB01 inset!important;
    background: transparent none;
    color: #FEBB01;
    text-shadow: none!important;
}

.ui.inverted.button:hover {
    box-shadow: 0 0 0 2px #FEBB01 inset!important;
    background: #FEBB01;
    color: black;
    text-shadow: none!important;
}

.ui.breadcrumb a {
  color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: .5rem;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.text-sidebar {
  color: #000;
}

h3 {
  font-weight: 900;
  font-size: 1.3rem;
}

.breadcrumb {
  background-color: #FEBB01;
}

.bg-yellow {
  background-color: #FEBB01;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.carousel-indicators li {
  background-color: #FEBB01;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #FEBB01;
    color: #000;
    transition: all 0.3s;
    box-shadow: 9px 15px 9px -3px rgba(0,0,0,0.32) !important;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FEBB01;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #FEBB01;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #FEBB01;
    background: #000;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #FEBB01;
    background: #000;
    border: 1px solid #FEBB01;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FEBB01;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.download {
    background: #000 !important;
    color: #FEBB01 !important;
}

.downloads {
    background: #FEBB01 !important;
    color: #000 !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.headers {
  background: #FEBB01;
  width: 199px;
  color: black;
  font-size: 15px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  font-weight: 900;
  border: none;
  outline: 0 !important;
  position: relative;
  display: block;
  margin-left: 1px;
  margin-top: 10px;
}

.marg {
  height: 40px;
  margin-top: 20px;
}

.headers.active {
  background: #fff;
  height: 50px;
  border-bottom: none;

}

.b-parts, .b-parts.active {
  position: absolute;
  left: -15px;
  margin-left: 15.5px;
  border-top-right-radius: 0;
}

.gloss, .gloss.active {
  border-top-left-radius: 0 !important;
  position: relative;
  left: 215px;
}


h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 20px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.ui.piled.segment {
  z-index: 5;

}

.r-shadow {
  box-shadow: 9px 7px 9px -3px rgba(0,0,0,0.22) !important;
  border-radius: 1.4rem;
}

.b-shadow, button  {
  box-shadow: 5px 7px 5px -3px rgba(0,0,0,0.22) !important;
}

.t-shadow {
  box-shadow: 9px 7px 19px -1px rgba(0,0,0,0.32) !important;
}

.re-size {
  max-width: 155px !important;
  max-height: 100%;

}

.b-hide   {
	display:none;
	flex: 1;
}

.wrap {
	display:flex;
	flex-wrap: wrap;
}

.trig1.active .yellow {
  background: black  !important;
  color: #FEBB09 !important;

}

#parts-container {
    position: relative;
}

#part1, #part2 {
    position: absolute;
    left: 0;
    top: 0;
}
